= link_to image_tag('social-vkontakte.jpg', class: 'social', alt: 'Вход через ВКонтакте'), user_omniauth_authorize_path(:vkontakte), title: 'Вход через ВКонтакте'
= link_to image_tag('social-facebook.jpg', class: 'social', alt: 'Вход через Facebook'), user_omniauth_authorize_path(:facebook), title: 'Вход через Facebook'