= link_to image_tag('social-vkontakte.jpg', class: 'social', alt: t('auth.vk')), user_omniauth_authorize_path(:vkontakte), title: t('auth.vk')
= link_to image_tag('social-facebook.jpg', class: 'social', alt: t('auth.fb')), user_omniauth_authorize_path(:facebook), title: t('auth.fb')