h1= t('index.h1')
br
p= t('index.p_first')
p= t('index.p_second')
- unless session[:guest].nil?
    p= t('index.p_third')
    = link_to t('index.training'), ai_start_path, class: 'btn btn-sm btn-primary'