h1 Шахматный сервер Chess Battle
br
p Добро пожаловать на простой шахматный сервер, созданный на Ruby on Rails. Вы сможете поиграть в шахматы с другими игроками или против искусственного интеллекта.
p Чтобы играть с другими игроками или посмотреть текущие партии - перейдите в раздел сайта "Игры".
- unless session[:guest].nil?
    p Если Вы гость, то можете ознакомиться с интерфейсом шахматной партии, вы можете сыграть партию против коалы Майка. Нам удалось научить Майка, как правильно ходить, но тактику и стратегию шахмат он пока не осилил.
    = link_to 'Начать тренировку', ai_start_path, class: 'btn btn-sm btn-primary'