SECRET_KEY_BASE: ''
RCS_DATABASE_USERNAME: ''
RCS_DATABASE_PASSWORD: ''
ADMIN_USERNAME: ''
ADMIN_PASSWORD: ''
FACEBOOK_APP_ID: ''
FACEBOOK_APP_SECRET: ''
VK_APP_ID: ''
VK_APP_SECRET: ''
CURRENT_HOST: ''